div {
  width: 100px;
  height: 100px;
}

.box1 {
  background-color: red;
}
.box1:hover {
  background-color: aqua;
}

.box2 {
  background-color: yellow;
}

.box2:hover {
  background-color: orange;
}

.box3 {
  background-color: blue;
}

.box3:hover {
  background-color: black;
}

.box1::before {
  content: "";
  display: block;
  color: green;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: blue;
}
